{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css'%}">
</head>
<body>ss
    <h1>I LIKE BTS</h1>
    <img src="{% static 'images/jk1.jpg' %}" alt="jk">
    <img src="{% static 'images/v.jpg' %}" alt="v">
    <img src="{% static 'images/bts.jpg' %}" alt="bts">
    <img src="{% static 'images/jk5.jpg' %}" alt="jk">
    <img src="{% static 'images/jk6.jpg' %}" alt="jk">
    
</body>
</html>